- @stories.each do |story|
  .panel.panel-success
    .panel-heading
      = link_to category_stories_path(story.category_id) do
        #{ Category.find(story.category_id).title }:
      %span.story-title
        = story.title
      by
      %a{ href: user_stories_path(story.user_id) }= User.find(story.user_id).email
      / TODO implement average story rating display
      5
      %i.fa.fa-star
      .pull-right
        - if current_user.id == story.user_id
          %a.btn.btn-sm.btn-warning
            %i.fa.fa-edit
          = link_to story_path(story), method: :delete, class: 'btn btn-sm btn-danger' do
            %i.fa.fa-remove

    .panel-body.story-content{ style: 'zoom: 1.4;' }
      = story.content

    .panel-footer
      .row
        .col-xs-2
          = select_tag :lang, options_for_select(['original', 'ru', 'uk', 'fr', 'de']), class: 'form-control translate', data: { path: translate_story_path(story) }
        .col-xs-2.pull-right
          Rate:
          / TODO implement rating system. Save on change and replace average rating with new value
          %input.story-rating{ type: 'hidden' }

:coffee
  $('.story-rating').rating
    filled: 'fa fa-star fa-lg'
    empty: 'fa fa-star-o fa-lg'
    start: 0
    stop: 5

  $('.translate').change (e) ->
    select = $(@)
    $.ajax
      url: select.data('path')
      method: 'POST'
      data:
        translate_to: select.val()
      success: (data) ->
        select.closest('.panel').find('.story-title').html(data.title)
        select.closest('.panel').find('.story-content').html(data.content)