<!DOCTYPE html>
<html>
<head>
  <title>RefactorTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <% if current_user.present? %>
        <%= render "shared/header_nav_bar" %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
